
%br
―――――――――――  運営事務局からのお知らせ  ――――――――――― 
%br
%br
こんにちは、subsctime運営事務局です。
%br

#{@email} さんの subsctime 仮登録を受け付けました！
%br
%br
▼▼ 下記のボタンを押し、登録を完了させてください ▼▼
%br
%br
= link_to 'アドレスを認証します', confirmation_url(@resource, confirmation_token: @token)
%br
%br
【このメールの内容に覚えがない方】
このメールは、freemlに登録申請された方に送信しています。
%br
メールの内容に覚えがない場合は、お手数ですが下記までご連絡ください。
%br
%br
【ご案内】
%br
　　■わからないことや困ったことがある場合
%br
　　　http://*************.com/help/
