.single-main#cardsnew
  .single-main__container#cardNew
    %h2.single-main__container__title
      支払い方法
    .single-main__container__form
      .single-main__container__form__frame
      -# = form_with url: pay_cards_path, name: "charge-form", id: 'charge-form', method: :post do |f|
        -# = form_with model: @card, html: { name: "inputForm" },class:"form" do |f|
          -# = render "devise/shared/error_messages", resource: @creditcard
      .form-group
        #number-form.payjs-outer
      .form-group
      -# %ul.signup__card--list
      -#   %li.icon--visa
      -#     = image_tag("SVG/visa.svg", id:"icon--visa")
      -#   %li.icon--master
      -#     = image_tag("SVG/master-card.svg", id:"icon--master")
      -#   %li.icon--saison
      -#     = image_tag("SVG/saison-card.svg", id:"icon--saison")
      -#   %li.icon--jcb
      -#     = image_tag("SVG/jcb.svg", id:"icon--jcb")
      -#   %li.icon--americanexpress
      -#     = image_tag("SVG/american_express.svg", id:"icon--americanexpress")
      -#   %li.icon--diners
      -#     = image_tag("SVG/dinersclub.svg", id:"icon--diners")
      -#   %li.icon--discover
      -#     = image_tag("SVG/discover.svg", id:"icon--discover")
      .form-group
        有効期限
        %br
        #expiry-form.payjs-outer
      .form-group
        #cvc-form.payjs-outer
      .form-group
        = form_with url: pay_cards_path, method: :post,id: "card_form" do |f|
          #card_token
          = f.submit "登録する", class:"button back-red font-white", id: "info_submit"