@keyframes logo2{
	0%{left:-270px;}
	100%{left:250px;}
}

.logo-img2 {
  animation-duration: 3000ms;
  animation-name: logo2;
  transition-timing-function: ease-in;
  display:inline-block;
	position: relative;
}
.newfooter {
  & .frontTitle {
    color: #222;
    font-size: 22px;
    text-align: center;
    margin: 10px 0 30px;
    line-height: 1.5;
  }
  &--btn {
    text-align: center;
    width: 100%;
    & .back_btn {
      margin-top: 10px;
      color: white;
      font-size: 15px;
      display: inline-block;
      border: none;
      background: #FF8F6D;
      width: 160px;
      height: 40px;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
    }
  }
  & .editCopy {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;

  }
}

.newAdWrapper{
  width: 660px;
  height: auto;
  margin: 0 auto;
  // background-color: blanchedalmond;
  & .newAdHeader {
    &--title {
      text-align: center;
    }
  }
  & .newAdMain {
    &--title {
      color: #222;
      font-size: 22px;
      text-align: center;
      margin: 10px 0 30px;
      line-height: 1.5;
    }
    &--content {
      margin: 0 0 30px;
      padding: 20px;
      border: 2px solid #b0bec5;
      border-radius: 4px;
      &__title{
        font-weight: 300;
        font-size: 14px;
      }
      &From{
        & .newAd {
          & .personal-input-form{
            width: 510px;
            margin: 0 auto;
            & .form_text {
              text-align: right;
              margin-bottom: 45px;
              & label {
                font-size: 13px;
              }
              & .textimage {
                display: inline-block;
                text-align: center;
                font-size: 8px;
                width: 25px;
                height: auto;
                background-color: #ff8e6e;
                color: white;
                border-radius: 3px;
                margin: 0 25px 0 8px;
                &#free {
                  background-color: whitesmoke;
                  color: #7e8a97;
                }
              }
              & .input-text {
                width: 320px;
                height: 40px;
                padding: 5px 0 5px 10px;
                border: 2px solid #d7dee2;
                font-size: 15px;
                margin-top: 0;
                border-radius: 3px;
                &#code {
                  width: 90px;
                  margin-right: 230px;
                }
              }
            }
            & .from_btn {
              & .editbtn {
                font-size: 14px;
                display: block;
                background: #000000;
                border: 1px solid #cccccc;
                color: #fff;
                width: 200px;
                height: 60px;
                margin: 0 auto;
                border-radius: 5px;
                transition: opacity 0.5s ease-out;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}

