.notifications {
  .notice {
    padding-left: 20px;
    position: absolute;
    top: 70;
    font-size: 15px;
    width: 100vw;
    height: auto;
    line-height: 2.5;
    background-color: #38AEF0;
    color: #fff;
    z-index: 10;
  }

  .alert {
    padding-left: 20px;
    position: absolute;
    top: 70;
    font-size: 15px;
    width: 100vw;
    height: auto;
    line-height: 2.5;
    background-color: #F35500;
    color: #fff;
    z-index: 10;
  }
}