.Newheader{
  width: 100vw;
  height: 70px;
  background-color: #84a9ac;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  &Top{
    width: 400px;
    display: flex;
    align-items: center;
    &Mypage{
      text-align: center;
      width: 100px;
      padding: 10px 10px;
      color: #e4e3e3;
      border-right: 1px dotted #e4e3e3;
    }
    &to{
      border-radius: 3px;
      background-color: #204051;
      height: 70px;
      line-height: 70px;
      width: 200px;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      padding: 0 10px;
    }
  }
}
.span{
  margin-left: 10px;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 15px;
  font-size: 10px;
  background-color: red;
  color: #ffffff;
}


.labe{
  font-weight: normal;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;

}

.text{
  display: flex;
  justify-content: center;
  &to{
    margin-top: 30px;
    padding-left: 80px;
    width: 45%;
    height: calc(100vh - 100px);
    background-color: white;
  }
  &For{
    &-name{
    }
    &-price{
      height: 40px;
    }
  }
}

.texttoFor-name{
  display: inline-block;
  width: 500px;
  height: 40px;
  padding-left: 8px;
}

.texttoFor-de{
  padding-top: 10px;
  padding-left: 8px;
  display: inline-block;
  width: 500px;
  height: 220px;
  padding-left: 8px;
}

.texttoFor-price{
  display: inline-block;
  height: 40px;
  padding-left: 8px;
}

.textFor-btn{
  border-radius: 6px;
  margin-left: 8vw;
  margin-top: 25px;
  letter-spacing: 10px;
  height: 50px;
  width: 300px;
  background-color: #204051;
  color: #ffffff;
}

.textFor-btn:hover{
  background-color: #3B6978;;
}