$imax-width: 1200px;
$tfont-size: 28px;

.index--container {
  max-width: $imax-width;
  margin: 0 auto;
  & .header{
    // background-color: #fff;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    & .hdrInnerWrap {
    max-width: $imax-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 5;
      & .headerTop {
        & .logo-img {
          margin-top: 12px;
          width: 160px;
        }
      }
      .header-right {
        display: flex;
        &__login{
          & .headerTopOut {
            display: inline-block;
            width: 120px;
            height: 2em;
            line-height: 2em;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #373737;
          }
        }
        &__guest {
          background-color: #373737;
          display: inline-block;
          width: 250px;
          height: 2em;
          line-height: 2em;
          text-align: center;
          border-radius: 5px;
          a {
            color: #fff;
          }
        }
        &__what {
          line-height: 2em;;
        }
        & .rightitle {
          margin-right: 50px;

          &:last-child{
            margin-right: 0;
          }
        }
      }
      & .headerRight {
        &-title {
          padding: 0 20px 0 20px;
          border-right: 1px solid #dddddd;
          &:nth-last-child(2)  {
            border-right: none;
            margin-right: 80px;
          }
        }
        &-mypage {
          .user-cog {
            font-size: 25px;
          }
        }
      }
    }
  }
  
  & .product{
    & .product--title {
      font-weight: 600;
      font-size: $tfont-size;
      text-align: left;
      letter-spacing: 1px;
      margin: 60px 0px;
    }
    &--list {
      display: inline-block;
      font-size: 14px;
      margin: 0 15px 40px;
      vertical-align: top;
      position: relative;
      text-align: center;
      &__img {
        width: 260px;
        height: 260px;
        object-fit: cover;
        &:hover{
          opacity: 0.8;
        }
      }
      &foot{
        &__name {
          transition: opacity 0.5s ease-out;
          margin-top: 20px;
          font-size: 16px;
          text-align: left;
          &:hover {
            opacity: 0.3;
          }
        
        }
        &__price {
          margin-top: 10px;
          font-size: 14px;
          text-align: left;
          font-weight: 600;
        }
      }
    }
  }
  & .editCopy {
    text-align: center;
  }
}


a {
  text-decoration: none;
  &:visited{
    color: #373737;
  }
}

.swiper-container {
  // overflow: visible !important;
  width: 100%;
  height: 650px;
  margin: 0 8px;
  // background: skyblue;
  & .swiper-wrapper > .swiper-slide {
    height: 600px;
    & > img {
      width: 100%;
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
}


.wrapper {
  background-image: url("1607469m.jpg");
  width: 100vw;
  background-size:cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  z-index: 1;

}