$imax-width: 1200px;
$tfont-size: 28px;

.index--container {
  max-width: $imax-width;
  margin: 0 auto;
  & .header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    & .hdrInnerWrap {
    max-width: $imax-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
      & .headerTop {
        & .logo-img {
          margin-top: 12px;
          width: 160px;
        }
        & .headerTopOut {
        }
      }
    }
  }
  & .recommned{
    padding-top: 100px;
  }
  & .product{
    & .product--title {
      font-weight: 600;
      font-size: $tfont-size;
      text-align: left;
      letter-spacing: 1px;
      margin: 60px 0px;
    }
    &--list {
      display: inline-block;
      font-size: 14px;
      margin: 0 15px 40px;
      vertical-align: top;
      position: relative;
      text-align: center;
      &__img {
        width: 260px;
        height: 260px;
        object-fit: cover;
        &:hover{
          opacity: 0.8;
        }
      }
      &foot{
        &__name {
          transition: opacity 0.5s ease-out;
          margin-top: 20px;
          font-size: 16px;
          text-align: left;
          &:hover {
            opacity: 0.3;
          }
        
        }
        &__price {
          margin-top: 10px;
          font-size: 14px;
          text-align: left;
          font-weight: 600;
        }
      }
    }
  }
  & .footer {

  }
}


a {
  text-decoration: none;
  &:visited{
    color: #373737;
  }
}

.swiper-container {
  // overflow: visible !important;
  width: 100%;
  height: 650px;
  margin: 0 8px;
  // background: skyblue;
  & .swiper-wrapper > .swiper-slide {
    height: 600px;
    & > img {
      width: 100%;
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }

  }
}
