.mypageheader{
  width: 100vw;
  height: 70px;
  background-color: #84a9ac;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  &Top{
    width: auto;
    display: flex;
    align-items: center;
    &to{
      border-radius: 3px;
      background-color: #204051;
      height: 70px;
      line-height: 70px;
      width: 200px;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      padding: 0 10px;
      
      
    }
    &Out{
      font-size: 15px;
      text-align: center;
      padding: 10px 10px;
      width: 100px;
      color: #e4e3e3;
      border-right: 1px dotted #e4e3e3;
    }
    &Mypage{
      text-align: center;
      width: 100px;
      padding: 10px 10px;
      color: #e4e3e3;
      border-right: 1px dotted #e4e3e3;
    }
    &New{
      color: #e4e3e3;
      text-align: center;
      padding: 10px 10px;
      width: 100px;
      border-right: 1px dotted #e4e3e3;
      
    }
    
  }
  &Search{
    &box{
      width: 550px;
      &__text{
        padding-left: 6px;
        height: 35px;
        width: 400px;
        border-radius: 4px;
        border-style: none;

      }
      &__btn{
        margin: 0 10px;
        padding: 3px 20px;
        border-radius: 10px;
        border-style: none;
        background-color: #3b6978;
        color: #e4e3e3;
      }
    }

  }
}

// 商品一覧

.mypage{
  &product{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    &List{
      margin: 30px;
      &-img{
        border-radius: 10px;
        width: 400px;
        height: 300px; 
      }
      &foot{
        position: absolute;
        bottom: 30px;
        left: 0px;
        display: inline-block;
        height: 60px;
        width: 400px;
        background-color: rgba(32, 64, 81, 0.5);
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-price{
          font-size:30px;
          color: #e4e3e3;
        }
      }
    }
  }
}

.mypageproductList-img:hover{
  border: 1px solid #84a9ac;
  box-sizing: border-box;
}

